header {
    height: 70px;
    background-color: #141D2F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .logo {
        margin-left: 50px;
        color: white;
        font-size: 30px;
        font-weight: bold;
        display: flex;
        align-items: center;

        .logo-item {
            height: 30px;
            width: 30px;
            background-color: #141D2F;
            border: 8px solid white;
            border-radius: 100%;
            margin-right: 14px;
        }
    }

    a {
        color: white;
        text-decoration: none;
        margin-right: 50px;
    }

}