<div class="footer-container">
    <div class="footer-left ml">
        <div class="link-container">
            <a routerLink="/imprint">Imprint</a>
            <a routerLink="/legal-notice">Legal Notice</a>
        </div>
    </div>
    <div class="footer-right mr">
        <div class="icon-container">
            <a href="https://github.com/fernsikos"><img src="../../assets/img/VectorGit-Hub.png" alt=""></a>
            <a href="mailto: Tobias_Fernkorn@yahoo.de"><img src="../../assets/img/VectorE-mail.png" alt=""></a>
            <a href="https://www.linkedin.com/in/tobias-fernkorn-7839ab257/"><img src="../../assets/img/VectorLinkedin.png" alt=""></a>
           
        </div>
    </div>
</div>
