.about-me-container {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 630px;
    z-index: 2;
    background-color: transparent;




    .container-left {
        width: 40vw;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;



        h2 {
            font-size: 70px;
        }

        .info {
            display: flex;
            align-items: center;
            margin-top: 24px;

            img {
                margin-right: 16px;
            }
        }
    }

    .devider {
        width: 100%;
        position: absolute;
        bottom: -928px;
        left: 0;
        right: 0;
    }

    .container-right {
        width: 60vw;
        position: relative;
        overflow: hidden;


        .profile {
            position: absolute;
            height: 600px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

        .vector1 {
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            height: 641px;
        }
    }
}

@media (max-width:1881px) {
    .about-me-container {
        .devider {
            bottom: -888px;
        }
    }
}

@media (max-width:1808px) {
    .about-me-container {
        .devider {
            bottom: -872px;
        }
    }
}

@media (max-width:1780px) {
    .about-me-container {
        .devider {
            bottom: -857px;
        }
    }
}

@media (max-width:1756px) {
    .about-me-container {
        .devider {
            bottom: -846px;
        }
    }
}

@media (max-width:1707px) {
    .about-me-container {
        .devider {
            bottom: -821px;
        }
    }
}

@media (max-width:1686px) {
    .about-me-container {
        .devider {
            bottom: -811px;
        }
    }
}

@media (max-width:1657px) {
    .about-me-container {
        .devider {
            bottom: -796px;
        }
    }
}

@media (max-width:1625px) {
    .about-me-container {
        .devider {
            bottom: -773px;
        }
    }
}

@media (max-width:1585px) {
    .about-me-container {
        .devider {
            bottom: -755px;
        }
    }
}

@media (max-width:1549px) {
    .about-me-container {
        .devider {
            bottom: -738px;
        }
    }
}

@media (max-width:1485px) {
    .about-me-container {
        .devider {
            bottom: -708px;
        }
    }
}

@media (max-width:1455px) {
    .about-me-container {
        .devider {
            bottom: -689px;
        }
    }
}

@media (max-width:1413px) {
    .about-me-container {
        .devider {
            bottom: -669px;
        }
    }
}

@media (max-width:1376px) {
    .about-me-container {
        .devider {
            bottom: -656px;
        }
    }
}

@media (max-width:1350px) {
    .about-me-container {
        .devider {
            bottom: -644px;
        }
    }
}

@media (max-width:1322px) {
    .about-me-container {
        .devider {
            bottom: -630px;
        }
    }
}

@media (max-width:1290px) {
    .about-me-container {
        .devider {
            bottom: -612px;
        }
    }
}

@media (max-width:1255px) {
    .about-me-container {
        .devider {
            bottom: -597px;
        }
    }
}

@media (max-width:1233px) {
    .about-me-container {
        .devider {
            bottom: -583px;
        }
    }
}

@media (max-width:1192px) {
    .about-me-container {
        .devider {
            bottom: -567px;
        }
    }
}

@media (max-width:1170px) {
    .about-me-container {
        .devider {
            bottom: -557px;
        }
    }
}

@media (max-width:1150px) {
    .about-me-container {
        .devider {
            bottom: -547px;
        }
    }
}

@media (max-width:1129px) {
    .about-me-container {
        .devider {
            bottom: -540px;
        }
    }
}

@media (max-width:1113px) {
    .about-me-container {
        .devider {
            bottom: -530px;
        }
    }
}

@media (max-width:1094px) {
    .about-me-container {
        .devider {
            bottom: -522px;
        }
    }
}

@media (max-width:1071px) {
    .about-me-container {
        .devider {
            bottom: -500px;
        }
    }
}

@media (max-width:1033px) {
    .about-me-container {
        .devider {
            bottom: -481px;
        }
    }
}

@media (max-width:994px) {
    .about-me-container {
        .devider {
            bottom: -464px;
        }
    }
}

@media (max-width:960px) {
    .about-me-container {
        .devider {
            bottom: -450px;
        }
    }
}

@media (max-width:930px) {
    .about-me-container {
        .devider {
            bottom: -434px;
        }
    }
}

@media (max-width:899px) {
    .about-me-container {
        .devider {
            bottom: -421px;
        }
    }
}

@media (max-width:875px) {
    .about-me-container {
        .devider {
            bottom: -407px;
        }
    }
}

@media (max-width:850px) {
    .about-me-container {
        .devider {
            bottom: -401px;
        }
    }
}

@media (max-width:835px) {
    .about-me-container {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 60px;
        padding-right: 50px;

        .devider {
            top: 497px;
        }

        .container-left {
            z-index: 1;
            width: 60vw;
            margin-bottom: 0;
        }

        .container-right {
            display: flex;
            justify-content: center;
            overflow: unset;

            .profile {
                position: unset;
                margin: unset;
            }

            .vector1 {
                left: unset;
                right: unset;
            }
        }
    }
}

@media (max-width: 702px) {
    .about-me-container {
        overflow: hidden;

        .container-left {
            h2 {
                font-size: 50px;
            }
        }

        .container-right {

            .profile {
                height: 450px;
            }

            .vector1 {
                bottom: -35px;
                height: 551px;
            }
        }

        .devider {
            top: 362px;
        }
    }
}

@media (max-width: 650px) {
    .about-me-container {
        padding-right: 25px;
    }
}

@media (max-width: 400px) {
    .about-me-container {
        .container-left {

            span {
                font-size: 14px;
            }

            img {
                height: 55px;
                width: 55px;
            }
        }
    }
}

@media (max-width: 556px) {
    .about-me-container {
        .container-right {
            .profile {
                height: 406px;
            }

            .vector1 {
                height: 498px;
            }
        }
    }
}

@media (max-width: 362px) {
    .about-me-container {
        .container-left {

            h2 {
                font-size: 38px;
            }

            .info {
                flex-direction: column;
                align-items: flex-start;
                margin-top: 45px;
            }

            span {
                margin-top: 24px;
            }
        }

        .container-right {

            .profile {
                height: 320px;
            }

            .vector1 {
                bottom: -17px;
                height: 353px;
            }
        }

        .devider {
            top: 300px;
        }
    }
}