.about-me-container {
    // min-height: 100vh;
    // background-color: #141D2F;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    

    
    ::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100vh;
        height: 100vh;
        background-color: #141D2F;
        border-radius: 0 0 59% 0/0 0 14% 0;
        transform-origin: bottom;
        transform: translateX(-50%) scale(4);
        z-index: -1;
        border-bottom: 0.3px solid #fff;
        box-shadow: 69px 77px 83px -64px rgba(0,0,0,0.1);
    }

    .container-left {
        width: 50vw;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 50px 60px 50px;
        


        h2 {
            font-size: 70px;
        }

        .info {
            display: flex;
            align-items: center;
            margin-top: 24px;

            img {
                margin-right: 24px;
            }
        }
    }

    .container-right {
        width: 50vw;
    }
}