<div class="about-me-container pl " id="about-me">
    <div class="container-left">
        <h2>About me</h2>
        <span>Hi, I am Tobias Fernkorn, a Junior Front-End Developer with a strong technical foundation. 
            In my previous job as a technician, i developed a passion for creating, exploring, and finding innovative solutions to complex problems. 
            To be able to use that skills even more, I teamed up with Developer Academy Munic to start my career as a Front-End Developer.
        </span>
        <div class="info">
            <img src="../../assets/img/icons/puzzle-piece.webp" alt="">
            <span>I love to use my analytical skills to find issues and their solutions. To gain precision, constantly improving 
                and exploring new methods is one of my main goals. </span>
        </div>
        <div class="info">
            <img src="../../assets/img/icons/lightbulb.webp" alt="">
            <span>Looking for fresh ideas? Don't hesitate to contact me and find out if I would be a great choice for your team.
                 I can't wait to use my new skills to create something great.  </span>
        </div>
    </div>
    <div class="container-right">
        <img src="../../assets/img/Profile.webp" alt="" class="profile">
        <img src="../../assets/img/background-vector/Vector_Mint1.webp" alt="" class="vector1">
    </div>
    <img src="../../assets/img/background-vector/Vector.webp" alt="" class="devider">
</div>

