<div class="about-me-container">
    <div class="container-left">
        <h2>About me</h2>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora cupiditate nulla odit quas suscipit
            consequatur quibusdam laboriosam magni sed quis in autem atque totam obcaecati sunt fuga ab, quae at.</span>
        <div class="info">
            <img src="../../assets/img/puzzle-piece.png" alt="">
            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta quibusdam ipsa numquam voluptatum
                voluptas ab architecto, molestiae eum, aperiam magni inventore esse tenetur omnis </span>
        </div>
        <div class="info">
            <img src="../../assets/img/lightbulb.png" alt="">
            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta quibusdam ipsa numquam voluptatum
                voluptas ab architecto, molestiae eum, aperiam magni inventore esse tenetur omnis .</span>
        </div>
    </div>
    <div class="container-right">
        <img src="../../assets/img/Profile.png" alt="">
    </div>
</div>