<div class="contact-container" id="contact">
    <div class="title">
        Contact
        <div class="bar"></div>
    </div>
    <div class="contact-content-container">
        <div class="contact-content">
            <div class="content">
                <h3>Lets create together!
                    <div class="bar-left"></div>
                </h3>
                <div class="ml contact">Feel free to contact me. I am interested to hear your ideas, help to solve your problems and growing your projects.</div>
            </div>
        </div>
        <div class="contact-form mr">
            <form [formGroup]="contactForm" (keydown)="keyDownFunction($event)" (submit)="sendMail()" ngNativeValidate>
                <input data-aos="fade-right" type="text" name="name" placeholder="Name" required formControlName="name">
                <input type="email" name="email" placeholder="Email" required formControlName="email">
                <textarea class="textarea" name="message" placeholder="Your message" required formControlName="message"></textarea> 
                <button type="submit" [disabled]="isDisabled">Send message</button>
            </form>

        </div>
    </div>
    <img src="../../assets/img/background-vector/shadowpurple3.webp" alt="" class="vector4">

</div>