<div class="contact-container" id="contact">
    <div class="title">
        Contact
        <div class="bar"></div>
    </div>
    <div class="contact-content-container">
        <div class="contact-content">
            <div class="content">
                <h3>Lets create together!
                    <div class="bar-left"></div>
                </h3>
                <div class="ml contact">Feel free to contact me. I am interested to hear your ideas, help to solve your problems and growing your projects.</div>
            </div>
        </div>
        <div class="contact-form mr">
            <form action="http://tobias-fernkorn.com/e-mail-client/send_mail.php" method="post">
                <input type="text" name="name" placeholder="Name">
                <input type="email" name="email" placeholder="Email">
                <textarea class="textarea" name="message" placeholder="Your message"></textarea> 
                <button type="submit">Send message</button>
            </form>

        </div>
    </div>
</div>