<div class="introducion">
    <div class="name-container">
        <div class="upper-container">Hi</div>
        <div class="lower-container">
            <div class="container-left">I am</div>
            <div class="container-right">
                <div class="name">Tobias Fernkorn</div>
                <div class="profession">FRONTEND DEVELOPER</div>
            </div>
        </div>
    </div>
    <div class="devider-left">
        <div class="bar"></div>
        <a href="https://github.com/fernsikos"><img src="../../assets/img/github.png" alt=""></a>
        <a href="mailto: Tobias_Fernkorn@yahoo.de"><img src="../../assets/img/email.png" alt=""></a>
        <a href="https://www.linkedin.com/in/tobias-fernkorn-7839ab257/"><img src="../../assets/img/linkedin.png" alt=""></a>
        <a href="mailto: Tobias_Fernkorn@yahoo.de">Tobias_Fernkorn@yahoo.de</a>

    </div>
    <div class="devider-right">
        <span>Scroll down →</span>
    </div>
    <img class="green-1" src="../../assets/img/green_1.png" alt="">
    <img class="purple-1" src="../../assets/img/purple_1.png" alt="">

</div>