<div class="introducion">
    <div class="name-container mr ml">
        <div class="upper-container">Hi</div>
        <div class="lower-container">
            <div class="container-left">I am</div>
            <div class="container-right">
                <div class="name">Tobias Fernkorn</div>
                <div class="profession">FRONTEND DEVELOPER</div>
            </div>
        </div>
        <a (click)="onClickScroll('contact')" class="button">Lets talk!</a>
    </div>
    <div class="devider-left">
        <div class="bar"></div>
        <a href="https://github.com/fernsikos"><img src="../../assets/img/icons/VectorGit-Hub.webp" alt=""></a>
        <a href="mailto: Info@Tobias-Fernkorn.com"><img src="../../assets/img/icons/VectorE-mail.webp" alt=""></a>
        <a href="https://www.linkedin.com/in/tobias-fernkorn-7839ab257/"><img src="../../assets/img/icons/VectorLinkedin.webp" alt=""></a>
        <a href="mailto: info@tobias-fernkorn.com" id="email">info@tobias-fernkorn.com</a>
    </div>
    <div class="devider-right">
        <span>Scroll down →</span>
    </div>
    <!-- Background shadows -->
    <img id="green-1" src="../../assets/img/background-vector/shadowgreen1.webp" alt="">
    <img id="purple-1" src="../../assets/img/background-vector/shadowpurple2.webp" alt="">

</div>