<div class="introducion">
    <div class="name-container">
        <div class="upper-container">Hi</div>
        <div class="lower-container">
            <div class="container-left">I am</div>
            <div class="container-right">
                <div class="name">Tobias Fernkorn</div>
                <div class="profession">FRONTEND DEVELOPER</div>
            </div>
        </div>
    </div>
    <a href="#" class="button">Lets talk!</a>
    <div class="devider-left">
        <div class="bar"></div>
        <a href="https://github.com/fernsikos"><img src="../../assets/img/VectorGit-Hub.png" alt=""></a>
        <a href="mailto: Tobias_Fernkorn@yahoo.de"><img src="../../assets/img/VectorE-mail.png" alt=""></a>
        <a href="https://www.linkedin.com/in/tobias-fernkorn-7839ab257/"><img src="../../assets/img/VectorLinkedin.png" alt=""></a>
        <a href="mailto: Tobias_Fernkorn@yahoo.de" id="email">Tobias_Fernkorn@yahoo.de</a>
    </div>
    <div class="devider-right">
        <span>Scroll down →</span>
    </div>
    <!-- Background shadows -->
    <img id="green-1" src="../../assets/img/background-vector/shadowgreen1.png" alt="">
    <img id="purple-1" src="../../assets/img/background-vector/shadowpurple2.png" alt="">

</div>