.introducion {
    min-height: 100vh;
    background-color: #141D2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .name-container {
        height: fit-content;
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-bottom: 70px;
        z-index: 2;

        .upper-container {
            color: white;
            font-size: 60px;
            font-weight: 600;
            line-height: 100%;
            position: absolute;
        }

        .lower-container {
            display: flex;
            margin-top: 60px;

            .container-left {
                color: white;
                font-size: 52px;
                font-weight: 600;
                rotate: -90deg;
                line-height: 212%;
                height: 60px;
                margin-top: 31px;

            }
        }

        .container-right {
            display: flex;
            flex-direction: column;


            .name {
                color: white;
                font-size: 80px;
                font-weight: 700;
                line-height: 68px;
            }

            .profession {
                color: #1ce6b6;
                font-size: 50px;
                line-height: 127%
            }
        }
    }

    .devider-left {
        position: absolute;
        bottom: 24px;
        left: 0;
        display: flex;
        align-items: center;
        color: white;
        z-index: 2;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 24px;
            color: #fff;
            text-decoration: none;
            cursor: pointer;

            img {
                width: 34px;
            }
        }

        .bar {
            height: 3px;
            width: 100px;
            background-color: #1ce6b6;
        }

    }

    .devider-right {
        position: absolute;
        bottom: 72px;
        right: 0;
        transform: rotate(90deg);
        color: white;
    }

    .button {
        position: absolute;
        text-decoration: none;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 230px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 52px;
        width: 143px;
        border-radius: 10px;
        background-color: #00BEE8;
        box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
        font-size: 16px;
        transition: all 0.3s;
        z-index: 3;
        cursor: pointer;

        &:hover {
            background-color: #4B47FF;
            height: 60px;
            width: 151px;
            font-size: 18px;
        }
    }

    //Background shadows
    #green-1 {
        position: absolute;
        right: -340px;
        top: 76px;
        height: 600px;
        z-index: 1;
        rotate: 71deg;

    }

    #purple-1 {
        position: absolute;
        left: -307px;
        top: 149px;
        height: 778px;
        z-index: 1;
        rotate: 68deg;

    }

}

@media (max-width:994px) {
    .introducion {
        .name-container {
            .upper-container {
                font-size: 45px;
                line-height: 85%;
            }

            .lower-container {
                margin-top: 30px;

                .container-left {
                    font-size: 39px;
                    padding-left: 13px;
                    line-height: 212%;
                }

                .container-right {
                    margin-left: -10px;

                    .name {
                        font-size: 60px;
                    }

                    .profession {
                        font-size: 37px;
                        line-height: 87%;
                    }
                }

            }
        }

        #green-1 {
            right: -408px;
        }

        #purple-1 {
            left: -418px;
        }
    }
}

@media (max-width:702px) {
    .introducion {
        #email {
            display: none !important;
        }

        .devider-left {
            a {
                margin-left: 30px;
            }
        }

        .name-container {
            .upper-container {
                font-size: 33px;
                padding-top: 13px;
                line-height: 21%;
            }

            .lower-container {
                margin-top: 15px;

                .container-left {
                    font-size: 29px;
                    padding-left: 23px;
                }

                .container-right {
                    margin-left: -20px;

                    .name {
                        font-size: 45px;
                    }

                    .profession {
                        font-size: 27px;
                        line-height: 33%;
                    }
                }

            }
        }

        .button {
            bottom: 265px;
            width: 134px;
            height: 44px;

            &:hover {
                height: 52px;
                width: 142px;
                
            }
        }
    }
}

@media (max-width:556px) {
    .introducion {
        .devider-right {
            display: none;
        }

        .devider-left {
            width: 100%;
            display: flex;
            justify-content: center;

            a {
                margin: 0 15px;
            }

            .bar {
                display: none;
            }
        }

        .name-container {
            .upper-container {
                font-size: 24px;
            }

            .lower-container {
                margin-top: 2px;

                .container-left {
                    font-size: 21px;
                    line-height: 310%;
                    padding-left: 25px;
                }

                .container-right {
                    margin-top: 12px;
                    margin-left: -18px;

                    .name {
                        font-size: 34px;
                        line-height: 53px;
                    }

                    .profession {
                        font-size: 20px;
                        line-height: 0;
                    }
                }

            }
        }
        
        #green-1 {
            right: -470px;
        }

        .button {
            bottom: 322px;
            width: 111px;
            height: 36px;
            font-size: 13px;

            &:hover {
                height: 44px;
                width: 119px;
                font-size: 15px;
            }
        }
    }
}

@media (max-width:451px) {
    .introducion {
        .name-container {
            .upper-container {
                font-size: 16px;
                padding-top: 13px;
                line-height: 21%;
                top: 13px
            }

            .lower-container {
                .container-left {
                    font-size: 14px;
                    padding-left: 23px;
                    line-height: 390%;
                }

                .container-right {
                    margin-left: -20px;
                    margin-top: 25px;

                    .name {
                        font-size: 23px;
                        line-height: 35px;
                    }

                    .profession {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media (max-width:290px) {
    .introducion {
        .name-container {
            .lower-container {
                .container-right {
                    .name {
                        font-size: 21px;
                    }
                }
            }
        }
    }
}