.introducion {
    min-height: 100vh;
    background-color: #141D2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    .name-container {
        height: fit-content;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-bottom: 70px;
        z-index: 2;

        .upper-container {
            color: white;
            font-size: 60px;
            font-weight: 600;
            line-height: 100%;
        }

        .lower-container {
            display: flex;

            .container-left {
                color: white;
                font-size: 52px;
                font-weight: 600;
                rotate: -90deg;
                line-height: 212%;
                height: 60px;
                margin-top: 31px;

            }
        }

        .container-right {
            display: flex;
            flex-direction: column;


            .name {
                color: white;
                font-size: 80px;
                font-weight: 700;
                line-height: 68px;
            }

            .profession {
                color: #1ce6b6;
                font-size: 50px;
                line-height: 127%
            }
        }
    }

    .devider-left {
        position: absolute;
        bottom: 24px;
        left: 0;
        display: flex;
        align-items: center;
        color: white;
        z-index: 2;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 24px;
            color: #fff;
            text-decoration: none;
            cursor: pointer;

            img {
                width: 34px;
            }
        }

        .bar {
            height: 3px;
            width: 100px;
            background-color: #1ce6b6;
        }

    }

    .devider-right {
        position: absolute;
        bottom: 72px;
        right: 0;
        transform: rotate(90deg);
        color: white;
    }

    .button {
        position: absolute;
        text-decoration: none;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 230px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 52px;
        width: 143px;
        border-radius: 10px;
        background-color: #00BEE8;
        box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
        font-size: 16px;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            background-color: #4B47FF;
            height: 60px;
            width: 151px;
            font-size: 18px;
        }
    }

    //Background shadows
    #green-1 {
        position: absolute;
        right: -246px;
        top: 76px;
        height: 600px;
        z-index: 1;
        rotate: 71deg;

    }

    #purple-1 {
        position: absolute;
        left: -307px;
        top: 149px;
        height: 778px;
        z-index: 1;
        rotate: 68deg;

    }

}