.skills-container {

    position: relative;
    // background-color: #141D2F;
    display: flex;
    align-items: center;
    z-index: 2;
    margin-top: 100px;
    margin-bottom: 50px;



   


    .container-left {
        width: 60%;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        margin-right: 50px;

        .col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 14px;
            font-weight: bold;


            .icon-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                min-height: 77px;
                min-width: 80px;
                margin-bottom: 50px;

                img {
                    height: 50px;
                    width: 50px;
                    margin-bottom: 6px;
                }

                span {
                    max-width: 80px;
                    text-align: center;
                }
            }

            .blind-filler {
                min-height: 98px;
            }

        }

    }

    .button,
    .button-small {
        margin-top: 35px;
        color: white;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 52px;
        width: 143px;
        border-radius: 10px;
        background-color: #00BEE8;
        box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
        font-size: 16px;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            background-color: #4B47FF;
            height: 60px;
            width: 151px;
            font-size: 18px;
        }
    }

    .button-small {
        position: absolute;
    }

    .container-right {
        width: 40%;
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        overflow: hidden;
        position: relative;
        padding-bottom: 100px;


        .title {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 70px;
            font-weight: bold;

            span {
                padding-right: 24px !important;
                margin-bottom: 58px;
            }

            .bar {
                height: 3px;
                width: 400px;
                background-color: #1ce6b6;
                margin-bottom: 58px;
            }
        }

        a {
            position: absolute;
            bottom: 0;
            left: 0;

        }
    }

}

@media (max-width: 835px) {
    .skills-container {
        flex-direction: column-reverse;

        .container-left {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 50px;
            width: calc(100vw - 100px);
        }

        .container-right {
            width: 100%;
            padding-bottom: 50px;

            span {
                margin-left: 50px;
            }

            .title {

                .bar {
                    width: 600px;
                }

            }

            .button {
                display: none;
            }
        }
    }
}

@media (min-width: 835px) {
    .button-small {
        display: none !important;
    }
}

@media (max-width: 702px) {
    .button-small {
        width: 134px !important;
        height: 44px !important;

        &:hover {
            height: 52px !important;
            width: 142px !important;
        }
    }

    .title {
        span {
            font-size: 50px !important;
        }
    }
}

@media (max-width: 556px) {
    .button-small {
        width: 120px !important;
        height: 36px !important;
        font-size: 13px !important;

        &:hover {
            height: 42px !important;
            width: 128px !important;
            font-size: 15px !important;
        }
    }
}

@media (max-width: 499px) {
    .display-large {
        display: none !important;
    }
}

@media (max-width: 500px) {
    .display-small {

        .col {

            .icon-container {
                margin-bottom: 23px !important;

                img {
                    height: 40px !important;
                    width: 40px !important;
                }

                span {
                    font-size: 12px;
                }
            }
        }
    }
    .container-left {
        margin-bottom: 100px !important;
    }
}

@media (min-width: 500px) {
    .display-small {
        display: none !important;
    }
}

@media (max-width: 400px) {
    .container-right > span {
        font-size: 14px;
    }
}

@media (max-width: 350px) {
    .hide-small {
        display: none !important;
    }

}

@media (min-width: 350px) {
    .display-smallest {
        display: none !important;
    }
}