<div class="skills-container" id="skills">

    <div class="container-left ml display-small">
        <div class="col">
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/JavascriptJS.png" alt="">
                <span>JavaScript</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/gitGIT.png" alt="">
                <span>GIT</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/SCRUM.png" alt="">
                <span>Scum</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/MATERIAL.png" alt="">
                <span>Material design</span>
            </div>
            <div data-aos="fade-right" class="icon-container display-smallest">
                <img src="../../assets/img/icons/VectorCSS.png" alt="">
                <span>CSS</span>
            </div>
        </div>
        <div class="col">
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/AngularANGULAR.png" alt="">
                <span>Angular</span>
            </div>
            <div data-aos="fade-right" class="icon-container display-smallest">
                <img src="../../assets/img/icons/VectorTS.png" alt="">
                <span>Typescript</span>
            </div>
            <div data-aos="fade-right" class="icon-container display-smallest">
                <img src="../../assets/img/icons/FirebaseFIREBASE.png" alt="">
                <span>Firebase</span>
            </div>
            <div data-aos="fade-right" class="icon-container hide-small"></div>
            <div data-aos="fade-right" class="icon-container hide-small"></div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/VectorAPI.png" alt="">
                <span>Rest-Api</span>
            </div>
            <div data-aos="fade-right" class="icon-container display-smallest">
                <img src="../../assets/img/icons/htmlHTML.png" alt="">
                <span>HTML</span>
            </div>
           
           
        </div>
        <div class="col hide-small">
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/htmlHTML.png" alt="">
                <span>HTML</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/VectorTS.png" alt="">
                <span>Typescript</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/VectorCSS.png" alt="">
                <span>CSS</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/FirebaseFIREBASE.png" alt="">
                <span>Firebase</span>
            </div>



        </div>
    </div>
   
<div class="container-left ml display-large">
        <div class="col">
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/JavascriptJS.png" alt="">
                <span>JavaScript</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/gitGIT.png" alt="">
                <span>GIT</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/SCRUM.png" alt="">
                <span>Scum</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/MATERIAL.png" alt="">
                <span>Material design</span>
            </div>
        </div>
        <div class="col">
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/AngularANGULAR.png" alt="">
                <span>Angular</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/FirebaseFIREBASE.png" alt="">
                <span>Firebase</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/VectorAPI.png" alt="">
                <span>Rest-Api</span>
            </div>
            <div data-aos="fade-right" class="icon-container blind-filler">

            </div>
        </div>
        <div class="col">
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/VectorTS.png" alt="">
                <span>Typescript</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/VectorCSS.png" alt="">
                <span>CSS</span>
            </div>
            <div data-aos="fade-right" class="icon-container">

            </div>
            <div data-aos="fade-right" class="icon-container blind-filler">

            </div>
        </div>
        <div class="col">
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/htmlHTML.png" alt="">
                <span>HTML</span>
            </div>
            <div data-aos="fade-right" class="icon-container">

            </div>
            <div data-aos="fade-right" class="icon-container">

            </div>
            <div data-aos="fade-right" class="icon-container blind-filler">

            </div>
        </div>
    </div>
<div class="container-right">
    <div class="title">
        <span>Skills</span>
        <div class="bar"></div>
    </div>
    <span class="pr">Modern Web design requires modern tools. With skills in various Front-End technologies and
        concepts,
        I am ready to support your team.</span>
    <a href="#" class="button">Get in touch</a>
</div>
<a href="#" class="button-small">Get in touch</a>
</div>