<div class="skills-container">
    <img src="../../assets/img/Vector.png" alt="" class="devider">
    <div class="container-left"></div>
    <div class="container-right">
        <div class="title">
            <span>Skills</span>
            <div class="bar"></div>
        </div>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolor perferendis culpa at molestiae ab maxime voluptatibus praesentium id,</span>
        <a href="#" class="button">Get in</a>
    </div>
</div>