<div class="skills-container" id="skills">

    <div class="container-left ml display-small">
        <div class="col">
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/JavascriptJS.webp" alt="">
                <span>JavaScript</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/gitGIT.webp" alt="">
                <span>GIT</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/SCRUM.webp" alt="">
                <span>Scrum</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/MATERIAL.webp" alt="">
                <span>Material Design</span>
            </div>
            <div data-aos="fade-right" class="icon-container display-smallest">
                <img src="../../assets/img/icons/VectorCSS.webp" alt="">
                <span>CSS</span>
            </div>
        </div>
        <div class="col">
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/AngularANGULAR.webp" alt="">
                <span>Angular</span>
            </div>
            <div data-aos="fade-right" class="icon-container display-smallest">
                <img src="../../assets/img/icons/VectorTS.webp" alt="">
                <span>Typescript</span>
            </div>
            <div data-aos="fade-right" class="icon-container display-smallest">
                <img src="../../assets/img/icons/FirebaseFIREBASE.webp" alt="">
                <span>Firebase</span>
            </div>
            <div data-aos="fade-right" class="icon-container hide-small"></div>
            <div data-aos="fade-right" class="icon-container hide-small"></div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/VectorAPI.webp" alt="">
                <span>REST-API</span>
            </div>
            <div data-aos="fade-right" class="icon-container display-smallest">
                <img src="../../assets/img/icons/htmlHTML.webp" alt="">
                <span>HTML</span>
            </div>


        </div>
        <div class="col hide-small">
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/htmlHTML.webp" alt="">
                <span>HTML</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/VectorTS.webp" alt="">
                <span>Typescript</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/VectorCSS.webp" alt="">
                <span>CSS</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/FirebaseFIREBASE.webp" alt="">
                <span>Firebase</span>
            </div>



        </div>
    </div>

    <div class="container-left ml display-large">
        <div class="col">
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/JavascriptJS.webp" alt="">
                <span>JavaScript</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/gitGIT.webp" alt="">
                <span>GIT</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/SCRUM.webp" alt="">
                <span>Scrum</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/MATERIAL.webp" alt="">
                <span>Material Design</span>
            </div>
        </div>
        <div class="col">
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/AngularANGULAR.webp" alt="">
                <span>Angular</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/FirebaseFIREBASE.webp" alt="">
                <span>Firebase</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/VectorAPI.webp" alt="">
                <span>REST-API</span>
            </div>
            <div data-aos="fade-right" class="icon-container blind-filler">

            </div>
        </div>
        <div class="col">
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/VectorTS.webp" alt="">
                <span>Typescript</span>
            </div>
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/VectorCSS.webp" alt="">
                <span>CSS</span>
            </div>
            <div data-aos="fade-right" class="icon-container">

            </div>
            <div data-aos="fade-right" class="icon-container blind-filler">

            </div>
        </div>
        <div class="col">
            <div data-aos="fade-right" class="icon-container">
                <img src="../../assets/img/icons/htmlHTML.webp" alt="">
                <span>HTML</span>
            </div>
            <div data-aos="fade-right" class="icon-container">

            </div>
            <div data-aos="fade-right" class="icon-container">

            </div>
            <div data-aos="fade-right" class="icon-container blind-filler">

            </div>
        </div>
    </div>
    <div class="container-right">
        <div class="title">
            <span>Skills</span>
            <div class="bar"></div>
        </div>
        <span class="pr">Modern Web design requires modern tools. With skills in various Front-End technologies and
            concepts,
            I am ready to support your team.</span>
        <a (click)="onClickScroll('contact')" class="button">Get in touch</a>
    </div>
    <a (click)="onClickScroll('contact')" class="button-small">Get in touch</a>
    <img src="../../assets/img/background-vector/shadowmint3.webp" alt="" class="vector2">
</div>