.portfolio-container {
    position: relative;
    margin-bottom: 100px;

    .title-container {

        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        overflow: hidden;
        position: relative;


        .title {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 70px;
            font-weight: bold;
            position: relative;
            margin-left: 100px;
            // margin-bottom: 58px;

            .bar {
                margin-right: 24px;
                height: 3px;
                width: 100px;
                background-color: #1ce6b6;
                position: absolute;
                left: -124px;
            }
        }



    }

    .portfolio-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 100px;

        .row {
            display: flex;
            gap: 50px;

            &:first-child {
                margin-bottom: 50px;

            }

            .card {
                width: 500px;
                height: 300px;
                position: relative;
                z-index: 3;
                background-color: transparent;
                border-radius: 10px;

                .hover {
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background-color: rgba(226, 226, 226, 0.67);
                    border-radius: 10px;
                    transition: all 0.4s ease-in-out;
                    opacity: 0;
                    color: black;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    transform: scale(0.9);

                    &:hover {
                        opacity: 100;
                        transform: scale(1);
                        transition: all 0.4s ease-in-out;
                    }

                    h3 {
                        font-size: 31px;
                        font-weight: bold;
                        text-align: center;
                    }

                    span {
                        padding-left: 12px;
                        padding-right: 12ps;
                    }

                    .bottom {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: center;
                        margin-bottom: 24px;

                        .btn-container {
                            display: flex;
                            justify-content: center;
                            gap: 24px;
                            margin-top: 24px;

                            .button {
                                text-decoration: none;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: white;
                                height: 43px;
                                width: 133px;
                                border-radius: 10px;
                                background-color: #00BEE8;
                                box-shadow: 4px 4px 4px rgb(0 0 0 / 15%);
                                font-size: 16px;
                                cursor: pointer;
                                transition: background-color 0.3s ease-in-out;
                            }

                            .git {
                                &:hover {
                                    background-color: #4B47FF;
                                    transition: background-color 0.3s ease-in-out;
                                }
                            }

                            .test {
                                &:hover {
                                    background-color: #1BE6B6;
                                    transition: background-color 0.3s ease-in-out;
                                }
                            }
                        }
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;

                }
            }
        }
    }

    .vector3 {
        position: absolute;
        bottom: -28px;
        height: 548px;
        left: -254px;
        rotate: 176deg
    }
}

@media (max-width: 1266px) {
    .card {
        width: 400px !important;
        height: 240px !important;

        .hover {

            h3 {
                font-size: 24px !important;
            }

            span {
                font-size: 14px;
            }

            .button {
                height: 33px;
                width: 121px;
            }
        }
    }
}

@media (max-width: 1068px) {
    .card {
        width: 320px !important;
        height: 192px !important;

    }
}

@media (max-width: 810px) {
    .row {
        flex-direction: column;
    }

    .card {
        h3 {
            font-size: 18px !important;
        }


    }
}

@media (max-width: 702px) {
    .title {
        font-size: 50px !important;
        margin-left: 50px !important;
    }
}

@media (max-width: 390px) {
    .card {
        width: 215px !important;
        height: 128px !important;

        span {
            display: none;
        }

        .hover {
            .btn-container {
                margin: 0 !important;

                .button {
                    height: 24px !important;
                    width: 75px !important;
                    font-size: 12px !important;
                }
            }
        }
    }

    .vector3 {
        height: 482px !important;
    }
}