<div class="portfolio-container" id="portfolio">
    <div class="title-container">
        <div class="title ml">
            <div class="bar"></div>
            <div>Portfolio</div>
        </div>
        <span class="ml">Explore some of my projects</span>
    </div>
    <div class="portfolio-cards">
        <div class="row">
            <div class="card">
                <img src="../../assets/img/cards/Responsive-design.png" alt="">
                <div class="hover">
                   <h3>Join</h3>
                   <div class="bottom">
                    <span>A full responsive kanban board for project projectmanagement.</span>
                    <div class="btn-container">
                        <a class="button git" href="#">Github</a>
                        <a class="button test" href="#">Live test</a>
                    </div>
                   </div>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/img/cards/website.ElPolloLoco.jpg" alt="">
                <div class="hover">
                    <h3>El Pollo Loco</h3>
                    <div class="bottom">
                     <span>A full responsive kanban board for project projectmanagement.</span>
                     <div class="btn-container">
                         <a class="button git" href="#">Github</a>
                         <a class="button test" href="#">Live test</a>
                     </div>
                    </div>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <img src="../../assets/img/cards/ipad.join.jpg" alt="">
                <div class="hover">
                   <h3>Join</h3>
                   <div class="bottom">
                    <span>A full responsive kanban board for project projectmanagement.</span>
                    <div class="btn-container">
                        <a class="button git" href="#">Github</a>
                        <a class="button test" href="#">Live test</a>
                    </div>
                   </div>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/img/cards/website.Join.jpg" alt="">
                <div class="hover">
                    <h3>El Pollo Loco</h3>
                    <div class="bottom">
                     <span>A full responsive kanban board for project projectmanagement.</span>
                     <div class="btn-container">
                         <a class="button git" href="#">Github</a>
                         <a class="button test" href="#">Live test</a>
                     </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>