<div class="portfolio-container" id="portfolio">
    <div class="title-container">
        <div class="title">
            <div class="bar"></div>
            <div>Portfolio</div>
        </div>
    </div>
    <div class="portfolio-cards ml mr">
        <div class="row">
            <div class="card" data-aos="zoom-in">
                <img src="../../assets/img/cards/Responsive-design.webp" alt="">
                <div class="hover">
                   <h3>Join</h3>
                   <div class="bottom">
                    <span>A fully responsive kanban board for project projectmanagement.</span>
                    <div class="btn-container">
                        <a class="button test" href="https://join.tobias-fernkorn.com/welcome.html">Live test</a>
                        <a class="button git" href="https://github.com/fernsikos/Join.git">Github</a>
                    </div>
                   </div>
                </div>
            </div>
            <div class="card" data-aos="zoom-in">
                <img src="../../assets/img/cards/elPolloLoco.webp" alt="">
                <div class="hover">
                    <h3>El Pollo Loco</h3>
                    <div class="bottom">
                     <span>A simple jump and run game using object oriented coding.</span>
                     <div class="btn-container">
                         <a class="button test" href="https://elpolloloco.tobias-fernkorn.com/">Live test</a>
                         <a class="button git" href="https://github.com/fernsikos/El-Pollo-Loco.git">Github</a>
                     </div>
                    </div>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="card" data-aos="zoom-in">
                <img src="../../assets/img/cards/ipad.slack.webp" alt="">
                <div class="hover">
                   <h3>Slack-Clone</h3>
                   <div class="bottom">
                    <span>A Angula programmed slack clone using firebase authentication and firestore.</span>
                    <div class="btn-container">
                        <a class="button test" href="https://slack-clone.tobias-fernkorn.com/">Live test</a>
                        <a class="button git" href="https://github.com/fernsikos">Github</a>
                    </div>
                   </div>
                </div>
            </div>
            <div class="card" data-aos="zoom-in">
                <img src="../../assets/img/cards/space-x-slack.webp" alt="">
                <div class="hover">
                    <h3>Space X  explorer</h3>
                    <div class="bottom">
                     <span>A website for space nerds using Java Script and Rest-API.</span>
                     <div class="btn-container">
                         <a class="button test" href="https://space-x-explorer.tobias-fernkorn.com/welcome.html">Live test</a>
                         <a class="button git" href="https://github.com/fernsikos/spaceXexplorer.git">Github</a>
                     </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    <img src="../../assets/img/background-vector/shadowgreen2.webp" alt="" class="vector3">
</div>