.success-container {
    height: calc(100vh - 204px);
    margin-top: 102px;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {

        text-align: center;
        max-width: 400px;
        position: relative;
        margin-bottom: 100px;
        h1 {
            font-size: 60px;
            margin-top: 0;
        }

        span {
            font-size: 24px;
        }

        .button {
            position: absolute;
            text-decoration: none;
            left: 0;
            right: 0;
            bottom: -52px;
            margin: auto;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 52px;
            width: 143px;
            border-radius: 10px;
            background-color: #00BEE8;
            box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
            font-size: 16px;
            transition: all 0.3s;
            z-index: 3;
            cursor: pointer;
    
            &:hover {
                background-color: #4B47FF;
                height: 60px;
                width: 151px;
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 1150px) {
    .success-container {
        .card {
            h1 {
                font-size: 40px;
            }

            .button {
                height: 38px;
                width: 118px;
                font-size: 14px;
                &:hover {
                    height: 44px;
                    width: 126px;
                    font-size: 16px;
                }
               
            }
        }
    }
}

@media (max-width: 500px) {
    .success-container {
        .card {
            h1 {
                font-size: 30px;
            }

            .button {
                height: 38px;
                width: 118px;
                font-size: 14px;

                &:hover {
                    height: 44px;
                    width: 126px;
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 350px) {
    .success-container {
        .card {
            .button {
                height: 30px;
                width: 106px;
                font-size: 12px;

                &:hover {
                    height: 38px;
                    width: 112px;
                    font-size: 14px;
                }
            }
        }
    }
}