/* You can add global styles to this file, and also import other style files */
html {
     scroll-behavior: smooth;
}

body {
     margin: 0;
     font-family: Poppins, sans-serif;
     color: white;
     background-color: #141D2F;
     height: unset !important;
     overflow: overlay;
}

.ml {
     margin-left: 100px;
}

.mr {
     margin-right: 100px;
}

.pl {
     padding-left: 100px;
}

.pr {
     padding-right: 100px;
}

//Scollbar Styling /* width */
::-webkit-scrollbar {
     width: 8px;
     
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
    
   }
   
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: #ABABAD;
     -webkit-border-radius: 8px;
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background: #cacacc;
     
   }

   @media(min-width:2000px) {
     .ml {
          margin-left: 350px !important;
     }
     
     .mr {
          margin-right: 350px !important;
     }
     
     .pl {
          padding-left: 350px !important;
     }
     
     .pr {
          padding-right: 350px !important;
     }
}

@media(min-width:1700px) {
     .ml {
          margin-left: 200px;
     }
     
     .mr {
          margin-right: 200px;
     }
     
     .pl {
          padding-left: 200px;
     }
     
     .pr {
          padding-right: 200px;
     }
}

@media (max-width:900px) {
     .ml {
          margin-left: 50px;
     }
     
     .mr {
          margin-right: 50px;
     }
     
     .pl {
          padding-left: 50px;
     }
     
     .pr {
          padding-right: 50px;
     }
}

@media (max-width:650px) {
     .ml {
          margin-left: 25px;
     }

     .mr {
          margin-right: 25px;
     }
     .pl {
          padding-left: 25px;
     }
     
     .pr {
          padding-right: 25px;
     }
}

/* poppins-100 - latin */
@font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 100;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-100.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-100.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-100italic - latin */
@font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 100;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-100italic.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-100italic.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-200 - latin */
@font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 200;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-200.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-200.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-200italic - latin */
@font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 200;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-200italic.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-200italic.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-300 - latin */
@font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 300;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-300.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-300.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-300italic - latin */
@font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 300;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-300italic.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-300italic.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-regular - latin */
@font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 400;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-regular.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-regular.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-italic - latin */
@font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 400;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-italic.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-italic.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-500 - latin */
@font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-500.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-500.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-500italic - latin */
@font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 500;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-500italic.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-500italic.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600 - latin */
@font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 600;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-600.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-600.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-600italic - latin */
@font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 600;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-600italic.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-600italic.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */
@font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 700;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-700.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-700.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700italic - latin */
@font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 700;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-700italic.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-700italic.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-800 - latin */
@font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 800;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-800.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-800.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-800italic - latin */
@font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 800;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-800italic.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-800italic.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-900 - latin */
@font-face {
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 900;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-900.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-900.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-900italic - latin */
@font-face {
     font-family: 'Poppins';
     font-style: italic;
     font-weight: 900;
     font-display: swap;
     src: local(''),
          url('/assets/fonts/poppins-v20-latin-900italic.woff2') format('woff2'),
          /* Chrome 26+, Opera 23+, Firefox 39+ */
          url('/assets/fonts/poppins-v20-latin-900italic.woff') format('woff');
     /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
